.country {
   border: 2px solid lime;
   margin: 20px;
   padding: 20px;
   border-radius: 15px;
}

.flag {
   width: 100px;
   height: 75px;
   object-fit: contain;
}

.visited {
   background-color: rgb(5, 58, 32);
}

.notVisited {
   background-color: rgb(64, 6, 65);
}
